<div class="row">

    <h4>Mostrando N productos</h4>
    <h5>Mostrando todo</h5>

    @for (product of products; track product.name) {
    <div class="col-md-4 mt-4">
        <div class="card bg-light shadow">
            <img class="card-img-top" src="" alt="Title">
            <div class="card-body">
                <a class="m-0 text-reset" href="">{{product.type}}</a>
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text fw-bold mb-0">{{product.price}}</p>

                @if (product.stock >0) {
                <p class="card-text fw-bold">{{product.stock}}</p>
                } @else {
                <p class="card-text fw-bold text-danger">Sin stock</p>
                }

            </div>
            <div class="col-sm-4 input-number justify-content-center mx-auto">
                <button class="btn btn-sm btn-outline-secondary" (click)="decrement(product)">-</button>
                <p class="card-text mb-1">{{product.quantity}}</p>
                <button class="btn btn-sm btn-outline-secondary" (click)="increment(product)">+</button>
            </div>
            <a href="" class="btn bg-primary btn-outline-light mt-2">Añadir al carrito</a>
        </div>
    </div>
    } @empty {
        <h5>No hay productos</h5>
    }

</div>

