<div class="row">

    <h4>Mostrando {{products.length}} productos</h4>

    @for (product of products; track product.name) {
    <div class="col-md-4 mt-2">
        <div class="card bg-light shadow">
            <img class="card-img-top" src="{{product.image}}" alt="Title">
            <div class="card-body">
                <h4 class="card-text fw-bold mb-1">${{product.price}}</h4>
                <h5 class="card-title mb-0">{{product.name}}</h5>
                <p class="text-reset mb-0">{{product.type}}</p>
                @if (product.stock >0) {
                <p class="mt-1 card-text fw-bold">Stock: {{product.stock}}</p>
                } @else {
                <p class="mt-1 card-text fw-bold text-danger">Sin stock</p>
                }
            </div>
            <div class="col-sm-4 input-number justify-content-center mx-auto">
                <button class="btn btn-sm btn-outline-secondary" (click)="decrement(product)">-</button>
                <p class="stock card-text mb-1">{{product.quantity}}</p>
                <button class="btn btn-sm btn-outline-secondary" (click)="increment(product)">+</button>
            </div>
            @if (product.stock > 0) {
            <button class="btn bg-primary btn-outline-light mt-2" (click)="addToCart(product)">Comprar</button>
            }
            @else {
            <button class="btn bg-primary btn-outline-light mt-2" disabled>Comprar</button>
            }
        </div>
    </div>
    } @empty {
    <h5>No hay productos</h5>
    }
</div>